<%- include("./header") %>

<div class="container" style="margin-top:70px">
    <div class="row justify-content-around">
        <% user.cart.forEach(function(product) { %>
            <div class="col-sm-3 ">
               
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=product.picture%>" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title"><%=product.name%></h5>
                  <p class="card-text">Price:<%=product.price%></p>
                  
                </div>
            </div>
              </div>
        <%})%>
    </div>

</div>
<%- include("./footer") %>